<div class="flex justify-center mb-8">
    <div class="relative w-full max-w-xs sm:max-w-sm md:max-w-3xl">
        <span class="absolute inset-y-0 left-3 flex items-center pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35M17 11A6 6 0 115 11a6 6 0 0112 0z" />
            </svg>
        </span>
        <input
            type="text"
            [(ngModel)]="searchQuery"
            (keyup.enter)="onEnterKey($event)"
            placeholder="Título ou descrição..."
            class="w-full pl-9 pr-20 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400 placeholder-gray-400"
        />
        <button
            (click)="triggerSearch()"
            class="absolute inset-y-1 right-1 px-4 text-sm font-medium text-white bg-green rounded hover:cursor-pointer"
        >
            Buscar
        </button>
    </div>
</div>